- name: Install Required Packages
  hosts: all
  become: true
  vars:
    packages:
      - nginx
      - podman

  tasks:
    - name: Ensure required packages are installed
      package:
        name: "{{ packages }}"
        state: present
      tags: packages

- name: Start NGINX
  hosts: all
  become: false
  
  tasks:
    - name: startup NGINX
      command: nginx -s start
      args:
        warn: false
      register: nginx_start

    - name: check if NGINX is running
      uri:
        url: http://127.0.0.1/
        status_code: 200
        timeout: 5
      register: nginx_check
      until: nginx_check.status == 200
      retries: 6
      delay: 2