- name: Install Required Packages
  hosts: all
  become: true
  vars:
    packages:
      - nginx
      - podman

  tasks:
    - name: Ensure required packages are installed
      package:
        name: "{{ packages }}"
        state: present
      tags: packages