- name: Install Required Packages
  hosts: webservers
  become: true
  vars:
    packages:
      - nginx
      - podman

  tasks:
    - name: Ensure required packages are installed
      package:
        name: "{{ packages }}"
        state: present
      tags: packages

    - name: Ensure NGINX is up and running
      service:
        name: nginx
        state: started

- name: Deploy NGINX configuration
  hosts: webservers
  become: true

  tasks:
    - name: Copy NGINX config file
      ansible.builtin.copy:
        src: configs/nginx.conf
        dest: /etc/nginx/nginx.conf
        owner: root
        group: root
        mode: '0644'
      notify: Reload NGINX

    - name: Ensure NGINX is running
      ansible.builtin.service:
        name: nginx
        state: started

    - name: Reload NGINX
      ansible.builtin.shell: nginx -t && systemctl reload nginx
